.servicios-section {
  background-color: #13171c;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicios-primero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 975px) {
  .servicios-primero {
    flex-direction: row;
    height: 500px;
    width: 100%;
    justify-content: space-evenly;
  }
}
.servicios-content {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* background-repeat: round;
  background-size: inherit; */
}
@media (min-width: 975px) {
  .servicios-content {
    padding: 50px 0;
    width: 100vw;
  }
}
.servicios__titulo {
  margin: 0;
  padding: 20px 0;
  color: white;
  font-size: 42px;
  font-weight: 700;
}
@media (min-width: 975px) {
  .servicios__titulo {
    font-size: 64px;
  }
}

.servicios-imagen {
  display: inherit;
}
@media (min-width: 975px) {
  .servicios-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.maletin__servicios {
  width: 220px;
  margin-bottom: 50px;
}
@media (min-width: 975px) {
  .maletin__servicios {
    width: 300px;
  }
  .servicios-primero > .servicios__titulo > span {
    display: block;
  }
}
.sombra__servicios {
  display: none;
}
@media (min-width: 975px) {
  .sombra__servicios {
    display: unset;
    margin-bottom: 100px;
  }
}

.servicios__card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
@media (min-width: 975px) {
  .servicios__card-content {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 100px 0;
  }
}
.servicios__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #393e4680;
  color: white;
  backdrop-filter: blur(4px);
  max-width: 320px;
  padding: 40px 28px;
  margin: 0 10px 40px 10px;
  border-radius: 16px;
}
@media (min-width: 975px) {
  .servicios__card {
    margin: 0 30px;
    height: 500px;
  }
}
.servicios__img {
  width: 100%;
}

.servicios__card-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.servicios__card-descripcion {
  font-size: 16px;
}
